{% extends "core/base.html" %} {% block title %}Reservations {% endblock %}
{%load static %} 
{%block content%}
<br>
<div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">
        Your reservations
    </div>
</div>

<form method="POST">
<table class="table table-sm table-bordered border-primary table-hover">
  <thead class="table-primary">
    <tr>
      <th scope="col">Reservation ID</th>
      <th scope="col">User</th>
      <th scope="col">Movie</th>
      <th scope="col">Start time</th>
      <th scope="col">Hall</th>
      <th scope="col">Seat</th>
      <th scope="col">Confirmed</th>
    </tr>
  </thead>
  <tbody>
    {%for reservation in reservations%}
    <tr>
      <th scope="row">{{reservation.id}}</th>
      <td>{{reservation.reservation_name}}</td>
      <td>{{reservation.reserved_time.assigned_movie.name}}</td>
      <td>{{reservation.reserved_time.start_time}}</td>
      <td>{{reservation.reserved_time.assigned_hall.name}}</td>
      <td>{{reservation.seat.name}}</td>
      <td>
        <div class="custom-control custom-checkbox">
          {% if reservation.confirmed %}
            <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
          {% elif reservation.expired %}
            <input type="checkbox" class="custom-control-input" id="customCheck1" disabled>
          {% else %}
            <input type="checkbox" class="custom-control-input" id="customCheck1">
          {% endif %}
        </div>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% csrf_token %}
<div class="text-center">
    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" name="download_reservations">
        <span class="d-flex align-items-center">
            <i class="bi-chat-text-fill me-2"></i>
            <span class="small">Download reservations</span>
        </span>
    </button>
    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" name="confirm_reservations">
        <span class="d-flex align-items-center">
            <i class="bi-chat-text-fill me-2"></i>
            <span class="small">Confirm selected reservations</span>
        </span>
    </button>
</div>
<br>
</form>
{%endblock%}