{%extends 'core/base.html' %} {% block title %}Book a ticket | Select hall{%
endblock %} {%load static %} {% block mycss %} <link href={%static
"css/cards_booking.css"%} rel="stylesheet" />{%endblock%} {%block content %}
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    {%for hall in halls%}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img
          src="https://www.cinemacity.ro/static/dam/jcr:c57b232e-7e50-49df-aa3f-1faf21bdc841/terms_and_conditions.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="clearfix mb-3">
            <span class="float-start badge rounded-pill bg-primary"
              >{{cinema.name}}</span
            >
            <span class="float-end">{{cinema.city}}</span>
          </div>
          <h5 class="card-title">{{cinema.description}}</h5>
          <div class="text-center my-4">
            <a href="#" class="btn btn-primary rounded-pill">Select hall</a>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock %}
