{% extends "core/base.html" %} {% block title %} Front Page {% endblock %}
{%load static %} {% block mycss %} <link href={%static "css/cards.css" %}
rel="stylesheet" />{%endblock%} {%block content%}

<section class="light">
  <div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">
      Movies currently playing
    </div>
    {% for movie in movies %}
    <article class="postcard light blue">
      <a class="postcard__img_link" href="#">
        {% if movie.poster %}
        <img
          class="postcard__img"
          src={{ movie.poster.url }}
          alt="Image Title"
        />
        {%endif%}
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">{{ movie.name }}</h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Available starting: {{movie.available_from}}
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          {{movie.description}}
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item rounded-pill"><a href={{ movie.imdb_link}} style="text-decoration:none"><i class="fas fa-tag mr-2"></i>IMDB Link</li></a>
          <li class="tag__item rounded-pill"><i class="fas fa-clock mr-2"></i>Length: {{ movie.length|time:'H:i'}}</li>
          <li class="tag__item rounded-pill play blue">
            <a href="#" style="text-decoration:none"><i class="fas fa-play mr-2"></i>Book a ticket</a>
          </li>
        </ul>
      </div>
    </article>
    {%endfor%}

    {% if movies.has_next %}
    
        <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 float-end" href="?page={{movies.next_page_number}}">
            <span class="d-flex align-items-center">
              <i class="fa-solid fa-arrow-right"></i>
              <span class="small"></span>
            </span>
        </a>
    {% endif %}

    {% if movies.has_previous %}
        <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="?page={{movies.previous_page_number}}">
            <span class="d-flex align-items-center">
              <i class="fa-solid fa-arrow-left"></i>
              <span class="small"></span>
            </span>
        </a>
    {% endif %}
  </div>
</section>
{% endblock %}
